img {
    width: 100%;
}

.intro-header {
    width: 100%;
    height: 100%;
}

.intro-header .intro-header-img {
    content: '';
    /* position: absolute; */
    background-image: url(../media/cherry-blossom-loweredBrightness.jpg);
    background-size: 100%;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 100px 0px 0px 0px;
}

@media only screen and (max-width: 813px) {
    .intro-header .intro-header-img {
        height: 60vh;
    }
}

@media (max-width: 590px) {
    .intro-header .intro-header-img {
        height: 40vh;
    }
    .intro-header .intro-header-img .title {
        font-weight: 600;
        font-size: 1em !important;
        padding: 0px !important;
    }
    .intro-header .intro-header-img .subtitle {
        font-size: 0.7em !important;
        padding: 0px !important;
    }    
    .intro-header .intro-header-img .caption {
        color: rgb(177, 177, 177);
        opacity: 0.9;
        font-size: 0.5em !important;
        padding: 0px !important;
    }
    
    .intro-header .intro-header-img .footer {
        color: rgb(218, 214, 214);
        font-size: 0.6em;
        padding: 0px !important;
    }
    .searchbar {
        font-size: 8px !important;
    }
}

@media (max-width: 405px) {
    .intro-header .intro-header-img {
        height: 30vh;
        padding: 20px 0px 0px 0px;
    }
}

@media (max-width: 309px) {
    .intro-header .intro-header-img {
        height: 20vh;
    }
}


/* text */
.intro-header .intro-header-img {
    text-align: center;
    color: white;
}

.intro-header .intro-header-img .title {
    font-weight: 600;
    font-size: 3em;
    padding: 10px;
}

.intro-header .intro-header-img .subtitle {
    font-size: 1em;
    padding: 10px;
}

.intro-header .intro-header-img .caption {
    color: rgb(177, 177, 177);
    opacity: 0.9;
    padding: 10px;
}

.intro-header .intro-header-img .footer {
    color: rgb(218, 214, 214);
    font-size: 0.6em;
    padding: 10px;
}

/* SEARCHBAR */
.searchbar {
    width: 100%;
    /* margin: 0 auto; */
}

.searchbar .outline{
    /* width: 100%; */
    width: 80%;
    margin: 0 auto;
    /* background-color: blue; */
    padding: 10px;
}


.outline .form-inline{
    /* note: change this */
    width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 2px 0px 2px 10px;
    border-radius: 3px;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }


.outline .form-inline .form-control {
    /* border-bottom: 1px solid #f48fb1; */
    /* box-shadow: 0 1px 0 0 #f48fb1; */
    /* width: 600px; */
    box-shadow: none;
    border: none;
    /* color: red !important; */
    /* background-color: red !important; */
    /* background-color: transparent; */
}


/* CONTENT */



.container-fluid {
    padding: 0 50px 0 50px;
}

/* main .container-fluid {
    background: rgb(166,75,255);
    background: linear-gradient(188deg, rgba(166,75,255,1) 6%, rgba(235,235,235,1) 18%);
} */

main .container-fluid {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#intro-title {
    font-family: 'Playfair Display';
    /* color: white; */
    text-align: center;
    width: 100%;
    font-size: 3em ;
    font-weight: 500;
    /* color: white; */
    padding: 100px 0 100px 0;
}

@media (max-width: 500px) {
    #intro-title {
        font-size: 2em;
        padding: 50px 0 50px 0;
    }
}

.grid {
    display: flex;
}

.grid-col {
    /* float: left;
    width: 50%; */
    flex: 1;
    padding: 0.1em;
}

.grid-item {
    margin: 10px;
    border-radius: 20px;
}

.grid-item img {
    border-radius: 20px;
}

@media (max-width: 700px) {
    .container-fluid {
        /* padding: 0 50px 0 50px; */
        padding: 0;
    }
    .grid-item img {
        border-radius: 10px;
    }
    .grid-item {
        margin: 5px;
    }
}

.grid-col--2, .grid-col--3 , .grid-col--4{
    display: none;
}

/* @media ( max-width: 400px ) {
    .grid-col--2 { display: block; }
} */

/* 3 columns at medium size */
@media ( min-width: 668px ) {
    .grid-col--2 { display: block; } /* show column 2 */
}
  
  /* 4 columns at large size */
@media ( min-width: 1080px ) {
    .grid-col--3 { display: block; }
    .grid-col--4 {display: block; } /* show column 3 */
}