body, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


.page-wrapper a:hover {
    color: rgb(31, 133, 128);
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* NAVBAR */

nav .navbar-brand span {
    color: #C70039;
}

nav .nav-item .auth {
    color: black;
}


/* PAGE INTRO */
.page-intro {
    width: 80%;
    margin: 0 auto;
    /* padding: 100px; */
    padding: 200px;
    font-family: 'Playfair Display', serif;
}

.page-intro h1 {
    text-align: center;
    color: white;
    font-size: 6em;
}


@media only screen and (max-width: 800px) {
    .page-intro {
        padding: 80px;
    }
    .page-intro h1 {
        font-size: 5em;
    }
}

@media only screen and (max-width: 650px) {
    .page-intro {
        padding: 50px;
    }
    .page-intro h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 550px) {
    .page-intro {
        padding: 50px;
    }
    .page-intro h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 550px) {
    .page-intro {
        padding: 30px;
    }
    .page-intro h1 {
        font-size: 2em;
    }
}


/* POST SLIDER */
.page-wrapper{
    padding: 20px 0px;
    background-color: rgb(36, 36, 36);
}

@media only screen and (max-width: 550px) {
    .page-wrapper {
        padding: 20px 0px;
    }
}

.post-slider {
    background-color: transparent;
    position: relative;
    
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
    font-family: 'Merriweather', serif;
    /* color: rgb(68, 68, 68); */
    color: white;
}

@media only screen and (max-width: 400px) {
    .post-slider .slider-title {
        font-size: 2em;
    }
    
}

/* .slick-prev:before, .slick-next:before{
    color:red;
} */


.post-slider .next {
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px;
    /* background: rgb(253, 240, 240); */
    background: white;
    box-shadow: 1rem 1rem 1rem -1rem rgb(36, 36, 36);
}


.post-slider .post-wrapper .post .card-link {
    text-decoration: none;
}

.post-slider .post-wrapper .post .card-link:hover {
    text-decoration: none;
    color: black;
}

.post-slider .post-wrapper .post:hover {
    text-decoration: none;
    /* background-color: rgba(0, 255, 0, 0.589); */
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 10px;
}

.post-slider .post-wrapper .post .post-info .body {
    margin: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2020/05/16/20/30/dog-5179118_960_720.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* FOOTER */
.page-footer {
    /* background-color: rgb(24, 24, 53); */
    background-color: wheat;
    /* color: rgb(189, 185, 185); */
    color: grey;
    padding: 50px;
}

.page-footer .title {
    color: black;
    font-size: 2em;
    font-weight: 700;
}

.page-footer form {
    color: black;
}

.page-footer .submit i {
    margin: 0px 10px;
}

.page-footer .mySocial a {
    padding: 0px;
    color: rgb(24, 24, 53);
    display: block;
}

.page-footer .mySocial a:hover {
    font-size: 1.1em;
}


.page-footer .mySocial img {
    width: 20px;
    margin: 10px;
    /* background-color: white; */
}




/* LOGIN */
.login .auth {
    background: linear-gradient(336deg,#ee7752,rgb(241, 241, 40), #e73c7e, #23a6d5,   #23d5ab, rgb(158, 0, 137));
    background-size: 800% 800%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.login .auth .form-wrapper .form-title {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.login .auth .row {
    padding: 50px 0px 50px 0px;
}

.login .auth .form-wrapper {
    background-color: white;
    border-radius: 1%;
    padding: 10px 20px 30px 20px;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.login .auth .social-auth .title {
    font-size: 1.5em;
    /* color: rgb(31, 133, 128) */
    text-align: center;
}

.login .auth  .switch {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.login .auth .switch span {
    color: rgb(117, 79, 255);
}

.login .auth .form-wrapper .social-auth .item {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red;   */
    /* border: 1px solid rgb(100, 100, 100); */
    border: 1px solid rgb(151, 151, 151);
    border-radius: 4px;
    color: rgb(58, 57, 57);
}

.login .auth .form-wrapper .social-auth .item:hover {
    /* color: red; */
    background-color: rgba(61, 138, 91, 0.2);
}

.login .auth .form-wrapper .social-auth .item a {
    text-decoration: none;
}

.login .auth .form-wrapper .social-auth .item a:hover {
    text-decoration: none;
    color: rgb(58, 57, 57);
}

.login .auth .form-wrapper .social-auth .icons {
    width: 20px;
    margin: 10px;
}


/* REGISTER */
.register .auth {
    background: linear-gradient(336deg, rgb(158, 0, 137),   #23d5ab, #23a6d5,#e73c7e,rgb(241, 241, 40), #ee7752);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.register .auth .form-wrapper .form-title {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.register .auth .row {
    padding: 50px 0px 50px 0px;
}

.register .auth .form-wrapper {
    background-color: white;
    border-radius: 1%;
    padding: 10px 20px 30px 20px;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.register .auth .social-auth .title {
    font-size: 1.5em;
    /* color: rgb(31, 133, 128) */
    text-align: center;
}

.register .auth .form-group .row {
    /* margin: 0px 0px 16px 0px; */
    padding: 0px;
}

.register .auth  .switch {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.register .auth .switch span {
    color: rgb(117, 79, 255);
}

.register .auth .form-wrapper .social-auth .item {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red;   */
    /* border: 1px solid rgb(100, 100, 100); */
    border: 1px solid rgb(151, 151, 151);
    border-radius: 4px;
    color: rgb(58, 57, 57);
}

.register .auth .form-wrapper .social-auth .item:hover {
    /* color: red; */
    background-color: rgba(61, 138, 91, 0.2);
}

.register .auth .form-wrapper .social-auth .item a {
    text-decoration: none;
}

.register .auth .form-wrapper .social-auth .item a:hover {
    text-decoration: none;
    color: rgb(58, 57, 57);
}

.register .auth .form-wrapper .social-auth .icons {
    width: 20px;
    margin: 10px;
}

